VITE_CONTACT_FORM_URL=
VITE_NBC_FORM_URL=
VITE_DAILY_CHECKIN_URL=
VITE_DAILY_PROMPTS_CSV_URL=https://docs.google.com/spreadsheets/d/1jP0sEKdMHhXl7gUHvkj5jCjzQ61P0DUHO9N7q7b7Gxc/gviz/tq?tqx=out:csv&sheet=daily_prompts
#
# VITE_DAILY_PROMPTS_CSV_URL should be a published-to-web CSV link to your "daily_prompts" sheet tab.
# Example pattern:
# https://docs.google.com/spreadsheets/d/1jP0sEKdMHhXl7gUHvkj5jCjzQ61P0DUHO9N7q7b7Gxc/edit?gid=620115814#gid=620115814/gviz/tq?tqx=out:csv&sheet=daily_prompts
VITE_GA_MEASUREMENT_ID=
VITE_GTM_ID=
